.Idea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 13;

    .Idea-details{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        border-right: 1px solid grey;
        background-color: rgb(255, 244, 97);
        margin: auto;
        padding: auto;
        width: 100%;
        height: 100%;
    }

    .Idea-interactions{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: rgb(204, 0, 68);
        margin: auto;
        padding: auto;
        width: 100%;
        height: 100%;
    }
}



